@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

h1, h2, h3, p, body{
  font-family: 'Source Sans Pro';
  font-weight: 200;
}

strong { font-weight: 400; }

.title-slide h1 { font-size: 5em; line-height: 1;}
.title-slide h2 { font-size: 3em; line-height: 1;}
.title-slide h3 { font-size: 2em; line-height: 1;}
.title-slide h4 { font-size: 1em; line-height: 1;}
.title-slide {  
  background-color: #333366; 
  color: #fff;
}

.regular h1 { 
  font-size: 3.5em; 
  line-height: 0.6;
}
.regular h2 { 
  font-size: 3em; 
  line-height: 0.7;
}
.regular h3 { 
  font-size: 2em; 
  line-height: 1;
}
.regular h4 { font-size: 1em; }
.regular li { 
  font-size: 2em; 
  line-height: 1.1;
}

.dark { 
  background-color: #336666; 
  color: #fff;
}
.dark h1 { font-size: 5em; }

.exercise { 
  background-color: #330033; 
  color: #fff;
}
.exercise h1 { font-size: 4.5em; }
.exercise h2 { font-size: 3.5em; color: #999; }
.exercise h3 { font-size: 2.5em; }

.remark-inline-code {
  font-family: 'PT Mono';
}

.code, .r, .remark-code {
  font-family: 'PT Mono';
  font-size: 1.3em;
  line-height: 1.3;
  background-color: #fefbd8;
}

.left-column {
  width: 40%;
  float: left;
}

.right-column {
  width: 60%;
  float: right;
}
