@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

h1, h2, h3, p, body{
  font-family: 'Source Sans Pro';
  font-weight: 200;
}

strong { font-weight: 400; }

.title-slide h1 { font-size: 4em; }
.title-slide h2 { font-size: 4em; }
.title-slide h3 { font-size: 2em; }
.title-slide h4 { font-size: 1em; }
.title-slide { 
  background-color: #333366; 
  color: #fff;
}

.regular h1 { font-size: 3.5em; }
.regular h2 { font-size: 3em; }
.regular h3 { font-size: 2em; }
.regular h4 { font-size: 1em; }
.regular li { 
  font-size: 2.5em; 
  line-height: 1.5;
}

.dark { 
  background-color: #336666; 
  color: #fff;
}
.dark h1 { font-size: 5em; }

.exercise { 
  background-color: #330033; 
  color: #fff;
}
.exercise h1 { font-size: 4em; }
.exercise h2 { font-size: 3.5em; }

a, a > code {
  font-family: 'PT Mono';
  color: rgb(249, 38, 114);
  text-decoration: none;
}

